@model MovieViewModel
@{
    ViewData["Title"] = "ShowTableWithVM";
}

<h1>Filminfo</h1>

<p>@Model.Movie.Title</p>
<p>@Model.Movie.Description</p>
<p>@Model.Movie.Price</p>
<p>@Model.ExterneIMDBRating</p>

<p>Gebe alle Schauspieler aus: </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cast[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cast[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cast[0].LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Artists currentArtist in Model.Cast)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => currentArtist.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => currentArtist.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => currentArtist.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>